<tr>
    <td class="{{lineClass}} {{diffParser.LINE_TYPE.INFO}}" data-appendnext={{appendNext}} data-prevoldline={{prevOldLine}} data-prevnewline={{prevNewLine}}">... ...</td>
    <td class="{{diffParser.LINE_TYPE.INFO}}">
        <div class="{{contentClass}} {{diffParser.LINE_TYPE.INFO}}">{{{blockHeader}}}</div>
    </td>
</tr>